__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.env
.env.*
!.env.example

.pytest_cache/
.coverage
coverage.xml
htmlcov/

.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
logs/


build/
dist/
*.egg-info/


!alembic/
!alembic/versions/

uploads/

*.tmp
*.swp
*.bak